flows.json
[{"id":"44e5ff6a.a6ed","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"89380d62.3ba7e","type":"debug","z":"44e5ff6a.a6ed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":180,"wires":[]},{"id":"ac8158b1.60dc88","type":"function","z":"44e5ff6a.a6ed","name":"Global Variables for form Node","func":"global.set(\"p\",msg.payload.p)\nglobal.set(\"pl\",msg.payload.pl)\nglobal.set(\"pr\",msg.payload.pr)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"t\",msg.payload.t)\nglobal.set(\"m\",msg.payload.m)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"c\",msg.payload.c)\nvar apikey = \"dLEYAkvg4XNJ9Yiwixt3inMcQSz3kDXT_DSUoqzuyfMI\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":100,"wires":[["89380d62.3ba7e","51d2e4e9.8574ac"]]},{"id":"51d2e4e9.8574ac","type":"http request","z":"44e5ff6a.a6ed","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":40,"wires":[["d6feea57.835278","9093dc2f.ee8e8"]]},{"id":"d6feea57.835278","type":"debug","z":"44e5ff6a.a6ed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":240,"wires":[]},{"id":"9093dc2f.ee8e8","type":"function","z":"44e5ff6a.a6ed","name":"","func":"var p = global.get(\"p\")\nvar pl = global.get(\"pl\")\nvar pr = global.get(\"pr\")\nvar s = global.get(\"s\")\nvar t = global.get(\"t\")\nvar m = global.get(\"m\")\nvar pe = global.get(\"pe\")\nvar c = global.get(\"c\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"preg\",\" plas\",\"pres\",\"Skin \",\"test\",\"mass\",\"pedi\",\"class\"],\"values\":[[p,pl,pr,s,t,m,pe,c]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":40,"wires":[["a0860dce.35ab3"]]},{"id":"a0860dce.35ab3","type":"http request","z":"44e5ff6a.a6ed","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/522e6bb9-a7b1-458c-bfd2-ca656aa7877f/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":80,"wires":[["40737975.ceca08","20bf8d73.7393b2"]]},{"id":"40737975.ceca08","type":"debug","z":"44e5ff6a.a6ed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":140,"wires":[]},{"id":"7d3f8103.9d617","type":"ui_form","z":"44e5ff6a.a6ed","name":"","label":"","group":"f0e47be5.f78218","order":0,"width":0,"height":0,"options":[{"label":"preg","value":"p","type":"number","required":true,"rows":null},{"label":"plas","value":"pl","type":"number","required":true,"rows":null},{"label":"pres","value":"pr","type":"number","required":true,"rows":null},{"label":"Skin","value":"s","type":"number","required":true,"rows":null},{"label":"test","value":"t","type":"number","required":true,"rows":null},{"label":"mass","value":"m","type":"number","required":true,"rows":null},{"label":"pedi","value":"pe","type":"number","required":true,"rows":null},{"label":"class","value":"c","type":"number","required":true,"rows":null}],"formValue":{"p":"","pl":"","pr":"","s":"","t":"","m":"","pe":"","c":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":80,"wires":[["ac8158b1.60dc88"]]},{"id":"c71087df.a844d8","type":"ui_text","z":"44e5ff6a.a6ed","group":"f0e47be5.f78218","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":903.5999984741211,"y":301,"wires":[],"l":false},{"id":"20bf8d73.7393b2","type":"function","z":"44e5ff6a.a6ed","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830.2000350952148,"y":219,"wires":[["c71087df.a844d8","3c79ff7a.81ad5"]],"l":false},{"id":"3c79ff7a.81ad5","type":"debug","z":"44e5ff6a.a6ed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":757.2000350952148,"y":340,"wires":[],"l":false},{"id":"f0e47be5.f78218","type":"ui_group","z":"","name":"Default","tab":"cbf2a367.11562","order":1,"disp":true,"width":"6","collapse":false},{"id":"cbf2a367.11562","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]